<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="login-form">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            [(ngModel)]="username"
            [ngModelOptions]="{ standalone: true }"
            matInput
            placeholder="Username"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
            matInput
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        (click)="login()"
      >
        Login
      </button>
    </form>
  </mat-card>
</div>
