<div class="register-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form class="register-form" [formGroup] = "registerForm" (ngSubmit)="register()">
      <mat-card-content>
        <mat-form-field class="full-width">
          <input
            matInput
            required
            [(ngModel)]="username"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Username"
          />
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            required
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            type="email"
            [(ngModel)]="email"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Email"
          />
          
        </mat-form-field>

        <mat-form-field class="full-width">
          <input
            matInput
            required
            type="password"
            [(ngModel)]="password"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Password"
          />
        </mat-form-field>
      </mat-card-content>

      <button
        mat-stroked-button
        color="accent"
        class="btn-block"
        (click)="register()"
      >
        Register
      </button>
    </form>
  </mat-card>
</div>
