<router-outlet>
  <p>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Here!</span>

        <div class="right-elements">
          <mat-label class="name">{{username}}</mat-label>
          <button
            mat-fab
            [matMenuTriggerFor]="menu"
            color="primary"
          >
            <span class="material-icons"> portrait </span>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item *ngIf="loggedIn" (click)="goMain()">Main</button>
          <button mat-menu-item *ngIf="loggedIn" (click)="goProfile()">Profile</button>
          <button mat-menu-item *ngIf="loggedIn" (click)="logout()">Logout</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</router-outlet>
