<div class="header">
    <mat-card-header>
      <div mat-card-avatar class="avatar"></div>
      <mat-card-title class="username">{{username}}</mat-card-title>
      <mat-card-subtitle class="user-type">{{user_type | titlecase}}</mat-card-subtitle>
    </mat-card-header>
</div>

<!-- Will be rendered for students -->
<mat-card *ngIf='user_type === "student"'  class="bottom-card">
    <mat-card-header>
        <mat-card-title>Saved Notes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-divider *ngIf="saved_notes.length > 0"></mat-divider>
            <div *ngFor="let note of saved_notes">
                <mat-list-item>
                    <button class="course-btn" mat-raised-button>Saved Notes On {{note.date}} In {{note.class}}</button>
                </mat-list-item>
                <mat-divider ></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>

<!-- Will be rendered for instructors -->
<mat-card *ngIf='user_type === "instructor"'  class="bottom-card">
    <mat-card-header>
        <mat-card-title>Courses</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-divider *ngIf="courses.length > 0"></mat-divider>
            <div *ngFor="let course of courses">
                <mat-list-item >
                    <button (click)="assignStudent(course.code)" class="course-btn" mat-raised-button>{{course.code}} {{course.name}}</button>
                </mat-list-item>
                <mat-divider ></mat-divider>
            </div>
        </mat-list>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-fab class="fab-button" (click)="addCourse()">
            <mat-icon>add</mat-icon>
          </button>
    </mat-card-actions>
</mat-card>